<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - PREVIEW</title>
        <link href="/frame.css" rel="stylesheet" type="text/css" media="all">
    </head>

    <body>
        <h1>spotify</h1>
        <h3>based on spotify's homepage</h3>
        ON HOLD (because i originally started this in codepen)
        <br>
        <s><a href="#" target="_blank">live preview</a></s>
        |
        <s><a href="#">download</a></s>
        <br>
        <img src="/layouts/spotify/preview.png" width="350px">
        <br>
        <a href="https://open.spotify.com/">original/source</a>
    </body>
</html>