<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - SPOTIFY</title>
        <link href="/layouts/spotify/spotify.css" rel="stylesheet" type="text/css" media="all">    
    </head>

    <body>
        <div class="container">
            <div class="heading">Good Morning</div>

            <!-- quick select -->
            <div class="grid-quickselect">

                <!-- quickselect 1 -->
                <div class="qsg1">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img
                                src="https://www.meme-arsenal.com/memes/26aa25f2694dca495ef857a89317c2d1.jpg"
                                width=100px>
                            <div class="title"> EL GATOOOOOOOOOOOOOOO</div>
                        </div>
                    </div>
                </div>

                <!-- quickselect 2 -->
                <div class="qsg2">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img
                                src="https://www.meme-arsenal.com/memes/ef8aab19f833034b8787877b50d4655a.jpg"
                                width=100px>
                            <div class="title"> staying strong</div>
                        </div>
                    </div>
                </div>

                <!-- quickselect 3 -->
                <div class="qsg3">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img src="https://i.imgflip.com/38uqq0.png"
                                width=100px>
                            <div class="title"> me when mAcKiNg ChEeSe</div>
                        </div>
                    </div>
                </div>

                <!-- quickselect 4 -->
                <div class="qsg4">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img
                                src="https://i.pinimg.com/564x/6a/62/86/6a62860618c1fe51c8f221eccf99a794.jpg"
                                width=100px>
                            <div class="title"> TISM RIZZ</div>
                        </div>
                    </div>
                </div>

                <!-- quickselect 5 -->
                <div class="qsg5">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img
                                src="https://i.pinimg.com/564x/89/4f/15/894f156accbcbff8a5a406a1ba504bb8.jpg"
                                width=100px>
                            <div class="title"> chillin</div>
                        </div>
                    </div>
                </div>

                <!-- quickselect 6 -->
                <div class="qsg6">
                    <div class="quickplaylist">
                        <div class="quickitem">
                            <img
                                src="https://i.pinimg.com/564x/8e/4d/81/8e4d81601dc0389bf34ad200af2fc31d.jpg"
                                width=100px>
                            <div class="title"> felt cute might delete</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- daily mixes -->
            <div class="grid-mixes">
                <div class="gm1">
                    <div class="mixplaylist">
                        <div class="mixitem">
                            <img
                                src="https://i.pinimg.com/564x/68/4a/28/684a282f9d4a71e205a746a5c87c604c.jpg"
                                width=200px>
                            <div class="title"> miffy POTATO jams</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>