<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANGEL'S LAYOUTS - appstore</title>
    <link href="/layouts/appstore/appstore.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div class="grid-container">
        <div class="g1">
            aah
        </div>
        <div class="g2">
            <img src="/layouts/appstore/moomin.jpeg" alt="profile picture" width="200px">
        </div>
        <div class="g3">
            <h1>title!</h1>
        </div>
        <div class="g4">
            dah
        </div>
        <div class="g5">
            eah
        </div>
        <div class="g6">
            fah
        </div>
        <div class="g7">
            gah
        </div>
        <div class="g8">
            hah
        </div>
        <div class="g9">
            iah
        </div>
        <div class="g10">
            jah
        </div>
</body>

</html>