<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - PREVIEW</title>
        <link href="/frame.css" rel="stylesheet" type="text/css" media="all">
    </head>

    <body>
        <h1>appstore</h1>
        <a href="/layouts/appstore/appstore.html" target="_blank">live preview</a>
        | 
        <a href="https://angelslayouts.neocities.org/layouts/appstore/appstore.zip">download</a>
        <br>
        <img src="/layouts/appstore/preview.png" width="300px">
    </body>
</html>