<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ANGEL'S LAYOUTS - PASSPORT</title>
		<link
			href="/layouts/acnhpassport/passport.css"
			rel="stylesheet"
			type="text/css"
			media="all" />
	</head>

	<body>
		<div class="grid-container">
			<div class="g1"><h3>PASSPORT</h3></div>

			<div class="g2">
				<div id="photoborder">
					<img
						src="/layouts/acnhpassport/passportphoto.png"
						width="200px"
						id="photo" />
				</div>
			</div>
			<div class="g3">
				<div id="comment">
					<div class="alttxt speech triangle">this was really annoying to make!</div>
				</div>

				<div id="islandinfo">
					<span class="maintxt" id="islandname"
						><img src="/layouts/acnhpassport/icons/island.png" class="icon" /> island
						name</span
					>

					<!--change fruit to change image. all images are stored as fruit.png-->
					<span class="alttxt" id="fruit"
						><img src="/layouts/acnhpassport/icons/peach.png" class="icon" /> local
						fruit</span
					>
				</div>

				<hr />

				<div class="maintxt" id="title">Very First Island Dweller</div>

				<hr />

				<div class="maintxt" id="name"><h2>Angel</h2></div>

				<hr />
				<!--change starsign to change image. all images are stored as sign.png-->
				<div class="alttxt" id="birthday">
					<img src="/layouts/acnhpassport/icons/scorpio.png" class="icon" /> Born
					November 16th
				</div>
			</div>

			<div class="g4">
				<div class="alttxt" id="registration">Reg. January 8th, 2020</div>
			</div>
		</div>
	</body>
</html>
