<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - PASSPORT</title>
        <link href="/layouts/acnhpassport/passport.css" rel="stylesheet"
            type="text/css" media="all">
    </head>

    <body>
        <div class="grid-container">
            <div class="g1">PASSPORT</div>

            <div class="g2">
                <div id="photoborder">
                    <img src="/layouts/acnhpassport/passportphoto.png"
                        width="200px" id="photo">
                </div>

            </div>
            <div class="g3">


                <div id="comment">
                    <div class="speech triangle">
                        greetings!
                    </div>
                </div>

                <div id="islandinfo">
                    <img src="/layouts/acnhpassport/icons/island.png"
                        class="icon"> island name
                    <img src="/layouts/acnhpassport/icons/peach.png"
                        class="icon"> local fruit
                </div>

                <hr>

                <div id="title">Very First Island Dweller</div>

                <hr>

                <div id="name">Angel</div>

                <hr>

                <div id="birthday"><img
                        src="/layouts/acnhpassport/icons/scorpio.png"
                        class="icon"> Born November 16th</div>
            </div>

            <div class="g4">
                <div id="registration">
                    Reg. January 8th, 2020
                </div>
            </div>
        </div>
    </body>

</html>