<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - PREVIEW</title>
        <link href="/frame.css" rel="stylesheet" type="text/css" media="all">
    </head>

    <body>
        <h1>passport</h1>
        <h3>based on animal crossing new horizons</h3>
        <a href="/layouts/acnhpassport/passport.html" target="_blank">live preview</a>
        | 
        <a href="https://angelslayouts.neocities.org/layouts/appstore/appstore.zip">download</a>
        <br>
        <img src="/layouts/acnhpassport/" width="300px">
        <br>
        <a href="https://nookipedia.com/wiki/Passport">original/source</a>
        <br>
        <br>
        image credits:
        <br>
        <a href="https://meiker.io/play/11341/online.html">animal crossing character creator</a>
        <br>
        <a href="https://nookipedia.com/wiki/Passport">in-game graphics</a>
    </body>
</html>