html {
	width: 900px;
}
/* section that defines how the grid works*/
.grid-container {
	display: grid;
	/*this coordinates with the grid-area property in the ids below. each id coordinates to a grid div in the html. if you want to change the names to be more memorable for you, just make sure to ensure the grid-area value matches what you put in grid-template-areas*/
	grid-template-areas:
		"s1 s1 s1 s1"
		"s2 s2 s2 s2"
		"s3 s4 s4 s5"
		"s6 s4 s4 s5"
		"s7 s8 s9 s10"
		"s11 s11 s11 s11";
}
/*i use this to make the grid sections visible and have decent spacing lol*/
.grid-container > div {
	border: 1px solid black;
	padding: 10px;
}

/*all the sections! some of them have centering based on the sketch u sent, feel free to change how u like tho ofc :3*/
#g1 {
	grid-area: s1;
	text-align: center;
}
#g2 {
	grid-area: s2;
	text-align: center;
}
#g3 {
	grid-area: s3;
}
#g4 {
	grid-area: s4;
}
#g5 {
	grid-area: s5;
}
#g6 {
	grid-area: s6;
}
#g7 {
	grid-area: s7;
}
#g8 {
	grid-area: s8;
}
#g9 {
	grid-area: s9;
}
#g10 {
	grid-area: s10;
}
#g11 {
	grid-area: s11;
	text-align: center;
}
