<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - SNOOPY</title>
        <link href="/layouts/snoopy/snoopy.css" rel="stylesheet"
            type="text/css" media="all">
    </head>

    <body>
        <div class="grid-container">
            <div class="g1">
                clouds banner here :p
            </div>
            <div class="g g2">
                <a href="#">home</a>
                |
                <a href="#">about</a>
                |
                <a href="#">blog</a>
                |
                <a href="#">links</a>
            </div>
            <div class="g g3">
                <img
                    src="https://i.pinimg.com/564x/18/25/d5/1825d56be34d63e65d110dc3f081ab94.jpg"
                    width="150px">
                <p>replace this w drawinf l8r lol</p>

                <p>
                    name:
                    <br>
                    pronouns:
                    <br>
                    language:
                </p>
            </div>
            <div class="g g4">
                4
            </div>
            <div class="g g5">
                5
            </div>
            <div class="g g6">
                <div class="heading">blog</div>
            </div>
            <div class="g g7">
                <a href="#">neocities profile</a>
                |
                <a href="#">guestbook</a>
                |
                <a href="#">email</a>
                |
                <a href="#">sitemap</a>
            </div>
        </div>
    </body>

</html>