body {
	width: 800px;
    font-family: helvetica;
}
.grid-container {
	display: grid;
	grid-template-areas:
		"top top top top"
		"nav main main main"
		"footer footer footer footer";
}
.grid {
	padding: 10px;
	margin: 15px;
}
.g1 {
	grid-area: top;
}

.g2 {
	grid-area: nav;
}

.g3 {
	grid-area: main;
}

.g4 {
	grid-area: footer;
}

#header {
	display: flex;
	align-items: flex-end;
	background-image: url(/assets/windowyui.jpg);
	background-repeat: no-repeat;
	height: 380px;
	color: white;
}
#sitenav {
	text-align: left;
}

#sidebar > ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

#footer {
	text-align: right;
}

.layout{
padding-left: 10px;    border-left: 1px solid black;
}
