body {
    width: 500px;
    text-align: center;
}

.box {
    border: 2px solid black;
    padding: 5px;
    margin: 5px
}

.grid-container {
    display: grid;
    grid-template-areas:
        'top top top top'
        'nav main main main'
    ;
}

.g1 {
    grid-area: top;
}

.g2 {
    grid-area: nav;
    width: 150px;
}

.g3 {
    grid-area: main;
}