<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANGEL'S LAYOUTS - MUSICDISPLAY</title>
        <link href="/layouts/musicdisplay/musicdisplay.css" rel="stylesheet"
            type="text/css" media="all">
    </head>

    <body>
        <div class="grid-container">
            <div class="g1">
                Ella Rose
            </div>
            <div class="g2">
                most recent album
                <br>
                <img src="/layouts/musicdisplay/placeholder.jpg">
                <br>
                <div class="title">ALBUM TITLE</div>
                <br>
                song count - time
            </div>
            <div class="g3">
                about the artist
            </div>
            <div class="g4">
                <a href="#">links to songs</a>
                <br>
                
            </div>
            <div class="g5">
                5
            </div>
        </div>
    </body>
</html>