<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANGEL'S LAYOUTS - Cardcaptor Sakura</title>
    <link href="cardcaptor.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <div class="deco" id="topdeco">
      <div id="flower"><img src="assets/flower.png" width="150px"></div>
      <div id="fig1"><img src="assets/sakura1.png" width="150px"></div>
    </div>
    <div class="grid-container">
      <div class="g1"><img src="assets/logo.png" width="700px" alt="cardcaptor sakura logo" /></div>

      <div class="g2">
        <img src="assets/bigcloud.png" width="1530" alt="top cloud"/>
        <img src="assets/cloudmarginbar.png" width="1530px" height="150px" alt="middle cloud"/>
        <img src="assets/cloudmarginfade.png" width="1530px" alt="bottom cloud"/>
      </div>

      <div class="grid g3">
        <div class="header">navigation</div>
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">webmaster</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">diary</a></li>
          <li><a href="#">shrines</a></li>
          <li><a href="#">resources</a></li>
        </ul>
      </div>
      <div class="grid g4">
        <div class="header">welcome!</div>
        <hr class="bar"></hr>
        <p>
          the cardcaptor sakura theme of the ages. featuring a hand drawn remake of the outro animation gif because the old one is
          tiny and not transparent. gotta make sure eeverything is crisp! can you tell most of my focus was on the top of this
          layout?? :'D i finally got everything working tho so we ball
          <br>
          sakura kinomoto i hope you know you're so cool to me...
        </p>

        <p>
          i'll add more features later cause i've been making this for 2 days straight
        </p>
        <p>
          Cat ipsum dolor sit amet, stare at owner accusingly then wink but catto munch salmono for carrying out surveillance on 
          the neighbour's dog purr while eating. Step on your keyboard while you're gaming and then turn in a circle hiss and stare 
          at nothing then run suddenly away. Push your water glass on the floor. Chase ball of string see brother cat receive pets, 
          attack out of jealousy, or meow in empty rooms but avoid the new toy and just play with the box it came in toilet paper 
          attack claws fluff everywhere meow miao french ciao litterbox for cats secretly make all the worlds muffins. Fall over dead 
          (not really but gets sypathy) inspect anything brought into the house, mesmerizing birds bite the neighbor's bratty kid yet 
          instead of drinking water from the cat bowl, make sure to steal water from the toilet and mew mew.
        </p>
      </div>
      <div class="grid g5">
        <a href="#">neocities profile</a>
        |
        <a href="#">guestbook</a>
        |
        <a href="#">sitemap</a>
        |
        <a href="#">contact</a>
      </div>
    </div>
    <div class="deco" id="bottomdeco">
      <div id="kero"><img src="assets/kero.GIF" width="300px" /></div>
      <div id="planet"><img src="assets/planet.PNG" width="700px" /></div>
      <div id="disc"><img src="assets/disc.png" width="350px"></div>
    </div>
  </body>
</html>
