<!--

                   _                 _                         _                    
                  | |               | |                       | |                   
  ___ __ _ _ __ __| | ___ __ _ _ __ | |_ ___  _ __   ___  __ _| | ___   _ _ __ __ _ 
 / __/ _` | '__/ _` |/ __/ _` | '_ \| __/ _ \| '__| / __|/ _` | |/ / | | | '__/ _` |
| (_| (_| | | | (_| | (_| (_| | |_) | || (_) | |    \__ \ (_| |   <| |_| | | | (_| |
 \___\__,_|_|  \__,_|\___\__,_| .__/ \__\___/|_|    |___/\__,_|_|\_\\__,_|_|  \__,_|
                              | |                                                   
                              |_|                                                   

hi! thanks for downloading my code. this is the html! it should work out of the box, but if you run into any
issues, let me know! i've commented this to make it (hopefully) easy to understand and navigate. a bit of 
tomfoolery was used to get some things working, so don't mind that...

this code is free to use! please credit me if you're asked where the code comes from, but otherwise go
wild o7

thanks for checking it out!
made with love by angel

---------- contact ----------
email: angel at angelnetcast dot com
main site: https://angelnetcast.com/
layout site: https://layouts.angelnetcast.com/

-->
<!DOCTYPE html>
<html lang="en">
  <!------------------------------------------------ HEAD ------------------------------------------------>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Angel Valentine" />
    <meta
      name="description"
      content="Cardcaptor Sakura themed FTU HTML layout." />
    <title>ANGEL'S LAYOUTS - Cardcaptor Sakura</title>
    <link href="cardcaptor.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <!------------------------------------------------ BODY ------------------------------------------------>
  <body>
    <!------------------------------------------------ GRID ------------------------------------------------>
    <div class="grid-container">
      <!------------ G1 // cardcaptor logo ------------>
      <div class="g1">
        <img src="assets/logo.png" width="700px" alt="cardcaptor sakura logo" />
      </div>

      <!------------ G2 // cloud + kero  ------------>
      <div class="g2">
        <!------------ cloud divider ------------>
        <img src="assets/bigcloud.png" width="1500px" alt="top cloud" />
        <img
          src="assets/cloudmarginbar.png"
          width="1500px"
          height="150px"
          alt="middle cloud" />
        <img
          src="assets/cloudmarginfade.png"
          width="1500px"
          alt="bottom cloud" />

        <!------------ kero running decorations ------------>
        <div class="deco" id="bottomdeco">
          <div id="kero">
            <img src="assets/kero.gif" width="300px" alt="kero running" />
          </div>
          <div id="planet">
            <img src="assets/planet.png" width="900px" alt="planet" />
          </div>
        </div>
      </div>

      <!------------ G3 // nav bar ------------>
      <div class="grid g3">
        <nav>
          <div class="header">navigation</div>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">webmaster</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">diary</a></li>
            <li><a href="#">shrines</a></li>
            <li><a href="#">resources</a></li>
          </ul>
        </nav>
      </div>

      <!------------ G4 // main content ------------>
      <div class="grid g4">
        <!--- sakura kinomoto nendoroid deco --->
        <div id="sakura">
          <img
            src="assets/sakura.png"
            width="150px"
            alt="sakura nendoroid fig" />
        </div>

        <!--- sakura flower deco --->
        <div id="flower">
          <img src="assets/flower.png" width="150px" alt="sakura flower" />
        </div>

        <!--- cardcaptor ps1 disc deco --->
        <div id="disc">
          <img src="assets/disc.png" width="350px" alt=" cardcaptor disk" />
        </div>

        <div class="header">welcome!</div>
        <hr class="bar" />
        <p>
          the cardcaptor sakura theme of the ages. featuring a hand drawn remake
          of the outro animation gif because the old one is tiny and not
          transparent. gotta make sure eeverything is crisp! can you tell most
          of my focus was on the top of this layout?? :'D i finally got
          everything working tho so we ball. the main attraction of this is the
          graphics at the top of the page, so don't expect much else...
          <br />
          sakura kinomoto i hope you know you're so cool to me. i want to
          rollerblade to school too :(
        </p>
        <p>
          lorem ipsum text is a bit boring, so let me tell you a tangentially
          related story! fun angel fact,
          <i>i actually didn't care much for ccs at first!</i> i'm not a big fan
          of episodic things really, so i wouldn't pay much attention when my
          little sister had it playing on the tv. after a while though, i began
          to notice <b>reocurring themes...</b> my favorite...
          <br />
          one day during high school i got bored and wanted to put this on in
          the background. <mark>i ended up getting hooked!</mark> and now i'm a
          cardcaptor fan :) my favorite characters are kero and touya! i have
          very creatively used this story to demonstrate some of the text
          decorations in the css, so i'm done yapping now. enjoy the layout!
        </p>
      </div>
      <!------------ G5 // footer ------------>
      <div class="grid g5">
        <footer>
          <a href="#">neocities profile</a>
          |
          <a href="#">guestbook</a>
          |
          <a href="#">sitemap</a>
          |
          <a href="#">contact</a>
        </footer>
      </div>
    </div>
  </body>
</html>
